.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    color: #484848;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
    width: calc(25% - 40px);
    margin-top: 10px;
}

.popover ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popover li {
    cursor: pointer;
    margin: 5px 0;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
